$brand-primary: #0074D9;
$brand-success: #2ECC40;

@import "packages/bourbon/bourbon";
@import "packages/bootstrap3-sass/bootstrap";

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  font-size: 16px;
}

.header {
  @include clearfix;
  margin: 1em 0;
}

.story {
  &:hover {
    background-color: $gray-lighter;
  }
}

.story-title {
  line-height: 1.5;
  overflow: auto;
}

.story-options {
  @include clearfix;
  margin-top: 0.5em;
  // display: none;

  .story:hover & {
    display: block;
  }
}
