<template name="tasks">
  {{> current}}
  {{> backlog}}
</template>

<template name="current">
  <section class="panel panel-default">
    <header class="panel-heading">
      Current
    </header>
    <ul class="list-group">
      {{#each task}}
        <li class="task item list-group-item">
          {{> taskItem}}
        </li>
      {{/each}}
    </ul>
  </section>
</template>

<template name="backlog">
  <section class="panel panel-default">
    <header class="panel-heading">
      Backlog
    </header>
    <ul class="list-group">
      {{#each task}}
        <li class="task item list-group-item">
          {{> taskItem}}
        </li>
      {{/each}}
    </ul>
  </section>
</template>

<template name="singleTask">
  <section class="item-container">
    <div class="panel panel-default">
      <div class="panel-body">
        {{> taskItem}}
      </div>
    </div>
    <ul class="nav nav-underline-tabs" role="tablist">
      <li class="active"><a href="#tasks" role="tab" data-toggle="tab">Checklist</a></li>
      <li><a href="#discussion" role="tab" data-toggle="tab">Discussion  <span class="badge">2</span></a></li>
      <li><a href="#notes" role="tab" data-toggle="tab">Notes</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tasks">
        {{> checklist}}
      </div>
      <div class="tab-pane" id="discussion">
        {{> discussion}}
      </div>
      <div class="tab-pane" id="notes">
        {{> notes}}
      </div>
    </div>
  </section>
</template>

<template name="taskItem">
  <div class="mtr_item-link">
    <div class="item-title">
      {{title}}
    </div>
  </div>
  <div class="item-options">
    <div class="item-meta">
      {{> upvote}}
      <button type="button" class="btn btn-default btn-sm">Unassigned</button>
      <button type="button" class="btn btn-default btn-sm">0 points</button>
      <button type="button" class="btn btn-default btn-sm">No discussion</button>
    </div>
    {{> taskActions}}
  </div>
</template>

<template name="taskActions">
  <div class="item-actions">
    {{#unless status.isStarted}}
      <button type="button" class="btn btn-default btn-sm mtr_move-task">
        {{#if isCurrent}}
          Move to backlog
        {{else}}
          Move to current
        {{/if}}
      </button>
    {{/unless}}
    {{#if status.isNotStarted}}
      <button type="button" class="btn btn-primary btn-sm mtr_start">
        Start
      </button>
    {{/if}}
    {{#if status.isStarted}}
      <button type="button" class="btn btn-danger btn-sm mtr_stop">
        Stop
      </button>
      <button type="button" class="btn btn-primary btn-sm mtr_finish">
        Done
      </button>
    {{/if}}
    {{#if status.isStopped}}
      {{> restartButton}}
    {{/if}}
    {{#if status.isFinished}}
      {{> restartButton}}
    {{/if}}
  </div>
</template>

<template name="restartButton">
  <button type="button" class="btn btn-primary btn-sm mtr_start">
    Restart
  </button>
</template>

<template name="taskLoe">
  <div class="item-loe dropdown pull-left">
    <button type="button" class="btn btn-default btn-xs" data-toggle="dropdown">
      {{averageLoe}} points
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a class="mtr_toggle-loe" data-loe="0">Unestimated</a></li>
      <li><a class="mtr_toggle-loe" data-loe="1">1 point</a></li>
      <li><a class="mtr_toggle-loe" data-loe="2">2 points</a></li>
      <li><a class="mtr_toggle-loe" data-loe="4">4 points</a></li>
      <li><a class="mtr_toggle-loe" data-loe="8">8 points</a></li>
    </ul>
  </div>
</template>

<template name="newTask">
  <div class="modal" id="newTask" tabindex="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="newTaskLabel">Add a new task</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label">Task title</label>
              <input type="text" id="mtr_newTaskTitle" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="mtr_addTask" class="btn btn-primary" data-dismiss="modal">Add task</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
