$brand-primary: #0074D9;
$brand-success: #2ECC40;

$tag-colors: rgb(109, 149, 255),
             rgb(127, 91, 242),
             rgb(255, 103, 107),
             rgb(255, 205, 103),
             rgb(0, 164, 255),
             rgb(149, 149, 147),
             rgb(0, 98, 151),
             rgb(36, 197, 96);

@import "packages/andrewliebchen:meteor-bourbon/bourbon";
@import "packages/andrewliebchen:meteor-bootstrap3-sass/bootstrap";

// HELPERS
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@for $i from 1 through length($tag-colors) {
  .tag-color-#{$i} {
    background-color: nth($tag-colors, $i);
  }
}

// PACKAGES
#iron-router-progress {
  background-color: $brand-primary;
  box-shadow: none;

  &::before {
    content: none !important; // can turn this off somewhere else?
  }
}

// APPLICATION
body {
  @include transition;
  font-size: 16px;
  font-family: $helvetica;
}

.header {
  @include clearfix;
  margin: 1em 0;
}

.search {
  margin-bottom: 1em;
}

.item-title {
  line-height: 1.5;
  overflow: auto;
}

.item-options {
  @include clearfix;
  margin-top: 0.5em;
}

