<template name="ideas">
  <div class="panel panel-default">
    <header class="panel-heading">
      Idea name
    </header>
    <div class="panel-body">
      <p>
        Idea description donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis.
      </p>
      <button type="button" class="btn btn-primary">Add a story to this idea</button>
    </div>
  </div>
</template>
