<template name="ideas">
  <div class="item panel panel-default">
    <header class="panel-heading">
      Idea name
    </header>
    <div class="panel-body">
      <div class="item-description">
        <p>Idea description donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis.</p>
      </div>
    </div>
  </div>
</template>
